.services {
    display: grid;
    grid-template-columns: auto auto auto;
}

.allservice:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
    cursor: pointer;
    color: rgb(138, 30, 125);
}

@media (max-width:588px) {
    .services {
        grid-template-columns: auto auto;
    }
}

@media (max-width:382px) {
    .services {
        grid-template-columns: auto;
    }
}